#body{
    margin: 0px 0px 0px 0px; 
    background-color:white;
}

#container{
    oveflow: scroll; 
    background-color:white;
    margin-top:0;
    width:1300px; 
    height:auto; 
    margin-left:auto;
    margin-right:auto; 	
    font-size:20px; 
    font-family: geneva;
}

#top_bar{
   /* background-color:green;*/
   padding-top: 20px; 
   padding-bottom: 20px; 
    height:100px; 
    margin-top:0px; 
}

#top_bar a{
    margin-top: 20px; 
    float:right; 
    
    margin-right:auto; 	
    list-style-type: none; 	
    font-family: Geneva, sans-serif; 
    font-size:25px; 
 
}

#top_bar a:hover{
   color:#CCC;
}
#title_bar{
    /*background-color:red;*/
    height:200px; 
    margin-top:0px; 
    padding-top:10px; 
    padding-bottom:80px; 
    text-align: center; 
}
#title_bar h2{
    margin:auto; 
}
#title_bar a{
    margin:auto; 
}

#title_bar h1{
    padding-top: 10px; 
    font-size: 80px; 
    text-align: center; 
}


#description_block{
/*background-color:yellow; */

height:auto;  
padding-top: 50px; 
padding-bottom: 20px; 
}

#description_block p{
   text-align: left; 
   margin:auto;
   font-size: 20px;
    
}

#table_form{
/*background-color:pink; */
    margin: 0px 0px 0px 0px; 
    margin-top:20px; 
    margin-bottom: 20px;
    height:auto; 
    text-align: center; 
}

#span_mult_freq{
    padding-left: 75px; 
    
    
}
#table_data{
    margin:auto;
}

h2{
 /* background-color:red; */
 margin-top:0px; 
  border-bottom: 2px solid black; 

}

#tableform table{
    width:1300px; 
}

#table_form th{
    padding: 10px 10px 10px 10px; 
    width:500px; 
}



.sel_form {
     
    width: 300px;
    height: 40px;
    font-size:20px;
   /* border:1px solid red; */
    text-align:center;
    border:none;
}
.sel_form:hover{
   /* color:#CCC;*/
    border:2px solid #2596be; 
}
.user_button{
  background-color: #2596be; /* Green */
  width:300px; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.user_button:hover{
    background-color: grey; 
}

h4{
    margin-left:0px; 
    text-align: left;
    border-bottom: solid black; 
    width:300px; 
}

#table_user_button{
    height:100px; 
    background-color:red; 
}

#table_title{

margin: 0px 0px 0px 0px; 
border-bottom:2px solid buttontext; 
text-align: left;
}

#raw_data{
   /* background-color: black; */
    height:auto; 
    padding-top:20px; 
    padding-bottom: 20px;

    
}

#graph_block{
    height:500px; 
  /*  background-color: yellow;*/
    padding-top : 20px; 
    padding-bottom: 20px; 
    margin-top: 20px;
    margin-bottom: 20px; 
     text-align: center; 
}
#wrap_chart{
    width:1000px; 
    padding-top:10px; 
    padding-bottom: 10px
    height:480px; 
    margin:auto; 
    
    
}

#myChart{
      margin:auto; 
   
    
}
#raw_data{
     text-align: center; 
    
}
#txt_raw_data{
    resize:none;
  /* background-color: pink;*/ 
    padding-left: 10px; 
    font-size:18px; 
    width:1000px; 
    height: 260px; 
    overflow:scroll; 
    margin:auto; 
 
}

#footer{
    height:80px; 
   /* background-color: yellowgreen;*/
    margin: 0px 0px 0px 0px; 
    
    padding-top:20px; 
    padding-bottom: 20px;
}

#footer_text {
   margin: 0px 0px 0px 0px; 
   margin-top:70px; 
   width:auto; 
   float:right; 
  
    
}